.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input{
  width: 100%;
}

.search-bar h1 {
  font-family: 'trebuchet ms';
  color: #42CDFF;
  text-align: center;
  font-size: 3em;
}

.video-item img {
  max_width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
